<div class="tasklist">
    <div class="row margin0 modal-header white padding5555">
        <div class="col-lg-1 padding5555">
            <span class="glyphicon glyphicon-list-alt"></span>
        </div>
        <div class="col-lg-10 padding5555">
            <a class="white" href="#/projects">{{project.name}}</a> :: Task list
        </div>
        <div class="col-lg-1 padding5555">
            <a href="/signout" class="white" alt="logout"> <span class="glyphicon glyphicon-log-out"></span></a>
        </div>
    </div>
    <div class="before-list ">
        <div class="col-lg-1">
        <span class="glyphicon glyphicon-plus dsggreen fleft" ></span>
        </div>
        <form class="form-horizontal" role="form">
        <div class="col-lg-10">
        <div class="input-group fleft" >
          <input type="text" class="form-control" placeholder="Start typing here to create a task…" ng-model="task.name">


          <span class="input-group-btn">
            <button class="btn btn-default dsggreenbg white" type="button"  ng-click="task.project_id=project.id;addTask(task)">Add task</button>
          </span>
        </div><!-- /input-group -->
        </div>
        </form>
        <div class="clearfix"></div>
    </div><!-- /row -->
    <ul class="list-group">
      <li ng-repeat="task in tasks" class="list-group-item"><a ng-click="viewTask(task.id)">{{ task.name }}</a>
          <span class="glyphicon glyphicon-remove  padding5555 flright red"  ng-click="delTask(task.id)"></span>
          <span class="glyphicon glyphicon-circle-arrow-up padding5555 flright"  ng-click="prioUpTask(task.id)"></span>
          <span class="glyphicon glyphicon-list-alt padding5555 flright"  ng-click="viewTask(task.id)"></span>
      </li>
    </ul>
</div>